<html>
    <head>
    </head>
    <body>
        {{#properties}}
        <div>
            <label>{{name}}:</label>
            <label>{{value}}</label>
        </div>
        {{/properties}}
    </body>
</html>