<html>
    <head>
    </head>
    <body>
        {{#properties}}
        <div>
            <label>{{name}}:</label>
            <input type="text" value="{{value}}" />
        </div>
        {{/properties}}
    </body>
</html>