var express = require('express');
var app = express();
var mustacheExpress = require('mustache-express');
var fs = require("fs");

app.engine('mustache', mustacheExpress());
app.set('view engine', 'mustache');
app.set('views', './Publish/Views');
var config = JSON.parse(fs.readFileSync("./Server/config.json"));

{{#properties}}
var {{model}} = require('./../Models/{{model}}.js');

app.get('/', function (req, res) {
	{{model}}.top("{{property}}", "{{order}}", {{limit}}, function (rows) {
	console.log(rows)
		res.render('frontoffice', {
		models: config.models,
		rows: rows.map(obj => {
			return {
			properties: Object.keys(obj).map(key => {
				return {
						name: key,
						value: obj[key]
					}
				})
			}
		}),
			columns: Object.keys(new {{model}}()).map(key => {
				return {
					name: key
				};
			})
		});
	});
});
{{/properties}}
module.exports = app;
