
<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projeto DBM</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
     {{>menu}}

    
    <!-- Page Content -->
    <section class="py-5" style="margin-top: 20px">
      <div class="container">
      <h1>{{Titulo}}</h1>
      <h2>{{SubTitulo}}</h2>
        <table>
                <tr>
                    {{#columns}}
                        <th>{{name}}</th>
                    {{/columns}}
                </tr>
            {{#rows}}
                <tr>
                    {{#properties}}
                        <td>
                            {{value}}
                        </td>
                    {{/properties}}
                </tr>
            {{/rows}}
        </table>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DBM 2018. Nuno Pedro | Daniel Costeira | André Gastão</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>
